@import "./reset";

$header-height: 70px;
$footer-height: 200px;

.header {
    width: 100%;
    height: $header-height;
    background-color: #000;
    color: #fff;
    line-height: $header-height;
    padding-left: 2rem;
    font-size: 1.3rem;
}


.content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: calc(100% - #{$header-height} - #{$footer-height});
}

.name-item {
    font-size: 2rem;
    margin: 2rem;

    @media (max-width: 640px) {
        font-size: 1.5rem;
        margin: 1rem;
    }
}

.logo {
    width: 300px;
    
    @media (max-width: 640px) {
        width: 30%;
    }
}

.footer {
    width: 100%;
    height: $footer-height;
    background-color: #000;
}

.footer-list {
    color: #fff;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;  
}

.footer-list-item {
    width: 100%;
}

.footer-list-link {
    color: #fff;
    padding: 1.5rem 1rem;
    width: 100%;
    display: block;
    transition: opacity 0.3s;
    text-align: center;
}

.footer-list-link:hover {
    opacity: 0.5;
}